* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;


}

.content {
  flex: 1 0 auto;
  width: 100%;

}

header{
  width: 100%;
  height: 115px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
header.activee{
  display: none;
}
header.move{
  position: fixed;
  top: 0;
  left:0;
  animation-name: show_header;
  animation-duration: 1s;
  background-color: #cf8900;
}
@keyframes show_header {
  0%{
    opacity: 0;
    top: -70px;
  }
  100%{
    opacity: 1;
    top 0;
  }
}

.header_text{
  font-style: oblique;
  font-family:monospace;
}

.main_section{
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section_item{
  width: 30%;
  height: 280px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.section_item:first-child{
  background-color: #F7EC89;
}
.section_item:first-child.changeDir{
  order: 3;
}
.section_item:nth-child(2){
  background-color: #FEED4A;
  border: 1px dashed black;
}

.section_item:last-child{
  background-color: #FEC14A;
  order: 3
}

footer {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}
.footer_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;

}

.footer_item{
  width: 48%;
  height:150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_item:last-child{
  height: 200px;
}
.my_button:hover{
  box-shadow: 3px 3px 10px black;
}
.my_button:active{
  /* box-shadow: 5px 5px 10px black; */
  position: relative;
  top:5px;
}
@media (max-width:737px) {
  .main_section{
    flex-direction: column;
    align-items: center;
  }
  .section_item{
    width: 100%;
    margin-bottom: 15px;
  }
  .section_item:last-child{
    margin-bottom: 0px;
  }
  .footer_container{
    flex-direction: column;
    align-items: center;
  }
  .footer_item{
    width: 100%;
    margin-bottom: 15px;
  }
}
